<h1>Welcome To School System</h1>

<%= link_to 'Schools', schools_path %>
<%= link_to 'Classrooms', classrooms_path %>
<%= link_to 'Teachers', teachers_path %>
<%= link_to 'Subjects', subjects_path %>
<%= link_to 'Students', students_path %>